* {
    box-sizing: border-box;
}

.email-field, .password-field {
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    height: 40px;
    background-color: rgb(244, 247, 250);
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40px 20px;
}

.email-field {
    background-image: url(../res/User.svg);
}

.password-field {
    background-image: url(../res/Eye.svg);
}

.checkbox {
    vertical-align: middle;
}

label {
    display: block;
    color: lightgrey;
    float: left;
    padding: 10px;
    margin: 5px
}

.login-button {
    width: 100%;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    border-color: transparent;
    border-width: 0px;
    background-image: linear-gradient(to right, rgba(0, 112, 204), rgba(0, 222, 255));
    color: white;
}

.login-button:hover {
    cursor: pointer;
}

.form-container {
    margin: 0 auto;
    z-index: 1;
}

.login-form {
    border-radius: 5px;
    border-width: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 60%;
    width: 30%;
    padding: 150px 30px 30px 30px;
    margin-top: -100px;
    z-index: 1;
    text-align: center;
    z-index: 1;
    box-shadow: -3px 6px 24px 0px rgba(239, 243, 245, 0.75);
}

.semi-container {
    z-index: 2;
    width: 84%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.top-semicircle {
    margin-top: -50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(right bottom, #2d3851, #354463);
    background-image: linear-gradient(to left top, #2d3851, #354463);
    z-index: 2;
}

.logo-semicircle {
    margin-top: -50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../res/logo.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 102px 146px;
    z-index: 3;
}

.dashed-container {
    z-index: 5;
    Width: 91%;
    top: 0;
    left: 1.5%;
    overflow: hidden;
    position: absolute;
}

.dashed-semicircle {
    margin-top: -52.5%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    border: gray dashed;
    border-width: 1px;
    /* border-spacing: 5px; */
    border-radius: 50%;
    z-index: 3;
    /* border-image-source: url(dash.png); */
    /* border-image-repeat: repeat; */
    /* border-image-width: 20px; */
}

.solid-container {
    z-index: 5;
    Width: 95%;
    top: 0;
    left: 3%;
    overflow: hidden;
    position: absolute;
}

.solid-semicircle {
    margin-top: -55%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    border: gray solid;
    border-radius: 50%;
    z-index: 3;
    border-width: 1px;
    /* border-image-source: url(dash.png); */
    /* border-image-repeat: repeat; */
    /* border-image-width: 20px; */
}
.invalid{
    border-color: red;
    border-width: 2px;
    border-style: solid;
}